<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="icon" href="https://e7.pngegg.com/pngimages/425/74/png-clipart-computer-icons-user-login-icon-design-media-area-user.png" size="16x16">

  </head>
  <style>
    body {
      min-height: 100vh;
      justify-content: center;
      align-items: center;
      margin-left: 35%;
      background-color: rgb(68, 79, 138);
    }
   
  </style>
  <body>
    <h2>WeatherApp Login</h2><br>
    <div id="sawo-container" style="height: 300px; width: 300px; border-radius: 10px;"></div>

    <script src="https://websdk.sawolabs.com/sawo.min.js"></script>
    <script>
      // Fetching payload from sessionStorage
      const payload = sessionStorage.getItem("payload");
      
      var config = {
        // should be same as the id of the container created on 3rd step
        containerID: "sawo-container",
        // can be one of 'email' or 'phone_number_sms'
        identifierType: "email",
        // Add the API key copied from 2nd step
        apiKey: "f16d1b5e-6d1e-4f8c-b060-ae5013b55b20",
        // Add a callback here to handle the payload sent by sdk
        onSuccess: (payload) => {
          // Storing the payload in sessionStorage
          sessionStorage.setItem("payload", JSON.stringify(payload));
          // Redirecting to "/success"
          window.location.href = "index";
        },
      };
      var sawo = new Sawo(config);
      sawo.showForm();
    </script>
  </body>
</html>